.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 16px solid tomato;
    border-top: 16px solid #fff;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.red{
    color:red;
}